# For MacOSX
.DS_Store

UserInterfaceState.xcuserstate
project.xcworkspace/
xcuserdata/
build/
# CocoaPods
RxSwiftCoordinator/Pods/

# Carthage
RxSwiftCoordinator/Carthage/Build
RxSwiftCoordinator/Carthage/Checkouts